
# alperyilmaz/jupyterlab-python-intro 
numpy
matplotlib
scipy
sympy
notebook
pytest
nbval
traitlets>=4.3.1
ipython
pandas
vdom
jupyterlab_launcher>=0.5.0
watermark
# alperyilmaz/jupyterlab-bioinformatics
biopython
reportlab
# misc
jupyter_contrib_nbextensions
jupyter_nbextensions_configurator
RISE
ipywidgets
